<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egovframework.LocalBoard.mapper.ArticleMapper">

    <resultMap id="article" type="egovframework.LocalBoard.dto.Article">
        <result property="articleId" column="article_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="views" column="views"/>
        <result property="createdAt" column="created_at"/>

        <!-- User 객체와의 관계 설정을 위한 association -->
        <association property="user" column="user_id" javaType="egovframework.LocalBoard.dto.User">
            <result property="id" column="user_id"/>
            <result property="loginId" column="login_id"/>
            <result property="nickname" column="nickname"/>
            <result property="pwd" column="pwd"/>
        	<result property="roleType" column="role_type"/>
        </association>
    </resultMap>
    
    <!-- ArticleFile 테이블 ResultMap -->
    <resultMap id="articleFile" type="egovframework.LocalBoard.dto.ArticleFile">
    	<result property="id" column="id"/>
    	<result property="articleId" column="article_id"/>
    	<result property="fileName" column="file_name"/>
    	<result property="fileUrl" column="file_url"/>
    	<result property="fileSize" column="file_size"/>
   	</resultMap>
   	
   	<resultMap id="report" type="egovframework.LocalBoard.dto.Report">
	   	<result property="id" column="id"/>
	   	<result property="articleId" column="article_id"/>
	   	<result property="commentId" column="comment_id"/>
	   	<result property="userId" column="user_id"/>
   	</resultMap>
   	
   	<resultMap id="reportedArticle" type="egovframework.LocalBoard.dto.ReportedArticle">
	   	<result property="articleId" column="article_id"/>
	   	<result property="title" column="title"/>
	   	<result property="createdAt" column="created_at"/>
	   	<result property="reportCount" column="report_count"/>
   	    <association property="user" column="user_id" javaType="egovframework.LocalBoard.dto.User">
	        <result property="id" column="user_id"/>
	        <result property="nickname" column="nickname"/>
	    </association>
   	</resultMap>
    
 	<select id="getArticleList" resultMap="article" parameterType="egovframework.LocalBoard.dto.Pagination">
	    SELECT a.article_id, a.title, a.content, a.created_at, a.views,
	           u.id AS user_id, u.login_id, u.nickname, u.pwd
	    FROM article a
	        JOIN users u ON a.user_id = u.id
	    <where>
	    	u.role_type = "USER"
	        <!-- 검색 조건 추가 -->
	        <if test="searchCondition == '제목' and searchKeyword != null and searchKeyword != ''">
	            AND a.title LIKE CONCAT('%', #{searchKeyword}, '%')
	        </if>
	        <if test="searchCondition == '작성자' and searchKeyword != null and searchKeyword != ''">
	            AND u.nickname LIKE CONCAT('%', #{searchKeyword}, '%')
	        </if>
	        <if test="searchCondition == '전체' and searchKeyword != null and searchKeyword != ''">
	            AND (a.title LIKE CONCAT('%', #{searchKeyword}, '%') OR u.nickname LIKE CONCAT('%', #{searchKeyword}, '%'))
	        </if>
	        
	        <!-- 시간 필터 조건 추가 -->
	        <if test="timeRange == '1week'">
	            AND a.created_at >= DATE_SUB(NOW(), INTERVAL 1 WEEK)
	        </if>
	        <if test="timeRange == '1month'">
	            AND a.created_at >= DATE_SUB(NOW(), INTERVAL 1 MONTH)
	        </if>
	        <if test="timeRange == '1year'">
	            AND a.created_at >= DATE_SUB(NOW(), INTERVAL 1 YEAR)
	        </if>
	    </where>
	     ORDER BY
	    <choose>
	        <when test="sortBy == 'views'">
	            a.views ${sortOrder}, a.article_id DESC
	        </when>
	        <otherwise>
	            a.article_id DESC
	        </otherwise>
	    </choose>
	    LIMIT #{articleSize} OFFSET #{offset}
	</select>
	
	<select id="getArticleListByAdmin" resultMap="article">
	    SELECT a.article_id, a.title, a.created_at, a.views, u.nickname
	    FROM article a
	        JOIN users u ON a.user_id = u.id
        WHERE u.role_type = 'ADMIN'
        ORDER BY a.article_id DESC
	</select>
	
	<select id="getArticleCount" resultType="int" parameterType="egovframework.LocalBoard.dto.Pagination">
	    SELECT COUNT(*)
	    FROM article a
	        JOIN users u ON a.user_id = u.id
	    <where>
	    	u.role_type = "USER"
	        <!-- 검색 조건 추가 -->
	        <if test="searchCondition == '제목' and searchKeyword != null and searchKeyword != ''">
	            AND a.title LIKE CONCAT('%', #{searchKeyword}, '%')
	        </if>
	        <if test="searchCondition == '작성자' and searchKeyword != null and searchKeyword != ''">
	            AND u.nickname LIKE CONCAT('%', #{searchKeyword}, '%')
	        </if>
	        <if test="searchCondition == '전체' and searchKeyword != null and searchKeyword != ''">
	            AND (a.title LIKE CONCAT('%', #{searchKeyword}, '%') OR u.nickname LIKE CONCAT('%', #{searchKeyword}, '%'))
	        </if>
	        
	        <!-- 시간 필터 조건 추가 -->
	        <if test="timeRange == '1week'">
	            AND a.created_at >= DATE_SUB(NOW(), INTERVAL 1 WEEK)
	        </if>
	        <if test="timeRange == '1month'">
	            AND a.created_at >= DATE_SUB(NOW(), INTERVAL 1 MONTH)
	        </if>
	        <if test="timeRange == '1year'">
	            AND a.created_at >= DATE_SUB(NOW(), INTERVAL 1 YEAR)
	        </if>
	    </where>
	</select>
		
    <insert id="saveArticle" parameterType="egovframework.LocalBoard.dto.Article" useGeneratedKeys="true" keyProperty="articleId">
    	INSERT INTO article(user_id, title, content, created_at, views)
    	VALUES (#{user.id}, #{title}, #{content}, NOW(), 0)
    </insert>
    
    <insert id="saveFile" parameterType="egovframework.LocalBoard.dto.ArticleFile">
    	INSERT INTO article_file (article_id, file_name, file_url, file_size)
    	VALUES (#{articleId}, #{fileName}, #{fileUrl}, #{fileSize})
   	</insert>
    
    <select id="getArticle" parameterType="int" resultMap="article">
    	SELECT a.article_id, a.user_id, a.title, a.content, a.views, a.created_at, u.nickname, u.role_type
    	FROM article a
    		JOIN users u
    		ON a.user_id = u.id
    	WHERE article_id = #{articleId}
    </select>
    
    <update id="addViews" parameterType="int">
    	UPDATE article SET views = views + 1
    	WHERE article_id = #{articleId}
    </update>
    
    <update id="articleUpdate">
    	UPDATE article SET content = #{content} WHERE article_id = #{articleId}
    </update>

    <delete id="articleDetele" parameterType="int">
    	DELETE FROM article WHERE article_id = #{articleId}
    </delete>
    
	<delete id="removeArticleByUserId" parameterType="int">
		DELETE FROM article WHERE user_id = #{userId}
	</delete>
	
	<select id="getArticleCountByUserId" parameterType="int" resultType="int">
		SELECT count(*)
		FROM article
		WHERE user_id = #{userId}
	</select>
    
    <select id="getArticlesByUserIdWithLimit" parameterType="map" resultMap="article">
    	SELECT article_id, title, created_at, views
        FROM article
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>
    
    <select id="getArticleFileByArticleId" parameterType="int" resultMap="articleFile">
    	SELECT id, file_name, file_url, file_size
    	FROM article_file
    	WHERE article_id = #{articleId}
    </select>
    
	<delete id="deleteFile" parameterType="map">
	    DELETE FROM article_file
	    WHERE article_id = #{articleId}
	    <if test="existingFiles != null and existingFiles.size() > 0">
	        AND id NOT IN
	        <foreach item="fileId" collection="existingFiles" open="(" separator="," close=")">
	            #{fileId}
	        </foreach>
	    </if>
	</delete>
	
	<insert id="saveReport" parameterType="egovframework.LocalBoard.dto.Report">
		INSERT INTO report (article_id, user_id)
		VALUES (#{articleId}, #{userId});
	</insert>
	
	<select id="checkReportByUserIdAndArticleId" parameterType="map" resultType="int">
		SELECT count(*)
		FROM report
		WHERE user_id = #{userId} AND article_id = #{articleId}
	</select>
	
	<select id="getReportedArticleList" resultMap="reportedArticle">
		SELECT a.article_id, a.title, a.created_at, u.id AS user_id, u.nickname, report_count.count AS report_count
		FROM article a
			JOIN users u
			ON a.user_id = u.id
			JOIN ( SELECT b.article_id, COUNT(*) AS count
				   FROM report b
				   GROUP BY b.article_id
				   HAVING count >= 3 ) report_count
			ON a.article_id = report_count.article_id
		ORDER BY report_count DESC, a.created_at DESC
	</select>

</mapper>
